<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<body>

<!-- ============================= -->
<!-- FRAGMENTO AGREGAR CATEGORIA -->
<!-- ============================= -->
<section th:fragment="agregar">

<div class="row py-4 mb-2 bg-light">
<div class="col-md-1"></div>

<div class="col-md-3">
<button type="button"
        class="btn btn-primary"
        sec:authorize="hasRole('ROLE_ADMIN')"
        data-bs-toggle="modal"
        data-bs-target="#agregarCategoriaModal">

<i class="fa-solid fa-plus"></i>
[[#{categoria.agregar}]]

</button>
</div>
</div>


<div class="modal fade"
     id="agregarCategoriaModal"
     tabindex="-1">

<div class="modal-dialog">
<div class="modal-content">

<div class="modal-header bg-info text-white">

<h5 class="modal-title">
<i class="fa-solid fa-layer-group"></i>
[[#{categoria.agregar}]]
</h5>

<button type="button"
        class="btn-close"
        data-bs-dismiss="modal"></button>

</div>


<form th:action="@{/categoria/guardar}"
      th:object="${categoria}"
      method="post"
      enctype="multipart/form-data"
      class="was-validated">

<div class="modal-body">

<div class="mb-3">
<label>[[#{categoria.descripcion}]]</label>

<input type="text"
       th:field="*{descripcion}"
       class="form-control"
       required>
</div>


<div class="mb-3">
<label>[[#{categoria.activo}]]</label>

<input type="checkbox"
       th:field="*{activo}"
       class="form-check-input">
</div>


<div class="mb-3">
<label>[[#{categoria.imagen}]]</label>

<input type="file"
       name="imagenFile"
       onchange="mostrarImagen(this);"
       class="form-control">

<img id="blah"
     src="#"
     height="200">
</div>

</div>


<div class="modal-footer">

<button type="button"
        class="btn btn-secondary"
        data-bs-dismiss="modal">

<i class="fa-solid fa-xmark"></i>
[[#{accion.cerrar}]]

</button>


<button type="submit"
        class="btn btn-primary">

<i class="fa-solid fa-floppy-disk"></i>
[[#{accion.guardar}]]

</button>

</div>

</form>

</div>
</div>
</div>

</section>


<!-- ============================= -->
<!-- FRAGMENTO LISTADO -->
<!-- ============================= -->
<section th:fragment="listado" class="p-3">

<div class="row p-3">

<div class="col-md-9">

<div class="card p-2">

<div class="card-header">
<h4>[[#{categoria.listado}]]</h4>
</div>


<div class="card-body">

<div th:if="${categorias != null and !categorias.empty}">

<table class="table table-striped table-hover">

<thead>
<tr>

<th>#</th>
<th>[[#{categoria.descripcion}]]</th>
<th>[[#{categoria.imagen}]]</th>
<th>[[#{categoria.activo}]]</th>
<th></th>

</tr>
</thead>


<tbody>

<tr th:each="c : ${categorias}">

<td th:text="${c.idCategoria}"></td>

<td th:text="${c.descripcion}"></td>

<td>

<img th:if="${c.rutaImagen != null}"
     th:src="@{${c.rutaImagen}}"
     height="75">

</td>

<td th:text="${c.activo} ? 'Activa':'Inactiva'"></td>


<td>

<button type="button"
        class="btn btn-danger"
        data-bs-toggle="modal"
        data-bs-target="#confirmModal"
        th:data-bs-id="${c.idCategoria}"
        th:data-bs-descripcion="${c.descripcion}">

<i class="fa-solid fa-trash"></i>
[[#{accion.eliminar}]]

</button>


<a th:href="@{/categoria/modificar/}+${c.idCategoria}"
   class="btn btn-warning">

<i class="fas fa-pencil-alt"></i>
[[#{accion.actualizar}]]

</a>

</td>

</tr>

</tbody>

</table>

</div>


<div class="text-center p-2"
     th:if="${categorias == null or categorias.empty}">

<span>[[#{lista.vacia}]]</span>

</div>

</div>

</div>

</div>


<div class="col-md-3">

<div class="card text-center bg-success text-white mb-3">

<div class="card-body">

<h3>[[#{categoria.total}]]</h3>

<h4 class="fs-2">
<i class="fas fa-layer-group"></i>
[[${totalCategorias}]]
</h4>

</div>

</div>

</div>

</div>

</section>



<!-- ============================= -->
<!-- CONFIRMAR ELIMINAR -->
<!-- ============================= -->
<section th:fragment="confirmarEliminar">

<div class="modal fade"
     id="confirmModal"
     tabindex="-1">

<div class="modal-dialog modal-dialog-centered">

<div class="modal-content">

<form th:action="@{/categoria/eliminar}"
      method="post">

<input type="hidden"
       name="idCategoria"
       id="modalId">


<div class="modal-header bg-warning text-white">

<h5 class="modal-title">

<i class="fa-solid fa-circle-radiation"></i>
[[#{accion.confirmar}]]

</h5>

<button type="button"
        class="btn-close"
        data-bs-dismiss="modal"></button>

</div>


<div class="modal-body">

<p>
[[#{accion.confirmar.texto1}]]
<span id="modalDescripcion"></span>?
</p>

<h6>
[[#{accion.confirmar.texto2}]]
</h6>

</div>


<div class="modal-footer">

<button type="submit"
        class="btn btn-danger">

<i class="fa-solid fa-trash"></i>
[[#{accion.eliminar}]]

</button>


<button type="button"
        class="btn btn-secondary"
        data-bs-dismiss="modal">

[[#{accion.cerrar}]]

</button>

</div>

</form>

</div>

</div>

</div>

</section>

</body>
</html>